/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff8f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #d2691e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    background-color: #d2691e;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}
/* Menu */
nav {
    background-color: #f4a460;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

nav a:hover {
    background-color: #cd853f;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Títulos */
main h2 {
    margin-top: 10px;
    color: #d2691e;
}

main p {
    margin-bottom: 15px;
  
}

h2 {
    margin-bottom: 10px;
    color: #d2691e;
}

form {
    margin-top: 15px;
}

fieldset {
    border: 2px solid #d2691e;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    color: #8b4513;
    padding: 0 5px;
}
form p {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}
fieldset.adicionais input{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
    border-color: #d2691e;
    outline: none;
}

/* Botão */
button {
    background-color: #d2691e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #a0522d;
}

/* Rodapé */
footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 0.9rem;
}
nav a.active {
    background-color: #d2691e;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
